body{
    padding-top: 5%;
    width: 100%;
    position: relative;
}

.bigPic{
    width: fit-content;
}

.div2{
    padding-top: 3.5%;
    color:darkslategray;
    background-color: darkgrey;
    height: 250px;
    width: 100%;
}

.div2 .card-title {
    font-size: 30px;
    font-style: normal;
    padding-bottom: 1%;
}

.card-group2{ 
    padding-top: 2%;
    padding-bottom: 2%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.card2{
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    padding-top: 5%;
    padding-bottom: 5%;
}

.icon {
    height: 115px;
    width: 120px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card-title{
    padding-top: 2%;
    color:darkslategray;
}

.card-text{
    color:gray;
}

.div4{
    margin-top: -1.5%;
    height: 850px;
    width: 100%;
    background-color: #003C6A;
}

.card4{
    height: 550px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
   
}

.div4-tittle{
    color: aliceblue;
    padding-top: 5%;
}

.our-product-card{
    padding-top: 5%;
}


.div5{
    height: 700px;
    width:99%;
    
}

.div5-tittle{
    color: #2F4F4F;
    padding-top: 4%;
}

.card5{
    height: 450px;
    margin-top: 15%;
    border-radius: .5em;
    background-color: #B0E0E6;
    margin-left: 5%;
    
}

.card5-card-tittle{
    padding-top: 4%;
    color:black;
    font-weight: 700;
}


.div6{
    height: 550px;
    background-color: #003C6A;
}

.card6{
    height: 350px;
    width: 90%;
    margin-top: 10%;
    margin-left: 5%;
    border: NO;
}

.div6-tittle{
    color: aliceblue;
    padding-top: 5%;
}

.product-image{
    height: 300px;
    width: 100%;
}

.our-product-card{
    padding-top: 5%;
}
